<html>
<body>
    <div class = "login">
        <h1>Hello, my fellow coffee enthusiasts!<br>Predict your coffee roast here.</h1>

        <!--Main input for receiving user query to our prediction model -->
        <form action="{{url_for('predict_roast')}}" method="post">
            <input type="text" name="temperature" placeholder="Temperature in Fahrenheit" required="required" /><br>
            <input type="text" name="time" placeholder="Time period in minutes" required="required" /><br>
            <br>
            <br>
            <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
        </form>
        <br>
        <br>

    </div>
    {{predicted_roast}}
</body>
</html>
